<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header success-color-dark white-text">
        Informações Adicionais
      </div>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-success">Editar Perfil</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-success text-center z-depth-2">
      <div class="card-block">
        <div class="row">
          <div class="col-md-9">
            <div class="md-form">
              <input type="text" id="search" class="form-control">
              <label class="white-text" for="search">Pesquise Aqui:</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form">
              <button type="button" class="btn btn-white waves-effect" ng-click="$ctrl.changeView()">
                <span ng-if="!$ctrl.viewTable" class="fa fa-search"></span>
                <span ng-if="$ctrl.viewTable" class="fa fa-table"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul ng-if="$ctrl.viewTable" class="animate-if" class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header warning-color-dark white-text">
        <div class="row">
          <div class="col-md-9">
            <h4 class="card-title text-center">IMC</h4>
          </div>
          <div class="col-md-3">
            <img class="img-fluid" src="/images/all/weight balance.png" alt="Card image cap">
          </div>
        </div>
      </div>
      <div class="card-block">
        <h4 class="card-title">Seu imc é ÓTIMO , Parabéns.</h4>
      </div>
    </div>
  </div>
</div>