<div class="container">
  <div class="card-block">
    <form novalidate class="md-form" name="form">
      <div class="form-header green-gradient">
        <div ng-if="$ctrl.image" class="row">
          <div class="col-md-9">
            <h3>{{$ctrl.description}}</h3>
          </div>
          <div class="col-md-3">
            <img class="img-fluid" src="{{$ctrl.image}}" alt="Card image cap">
          </div>
        </div>
        <h3 ng-if="!$ctrl.image"><i class="fa fa-$ctrl.icon"></i>{{$ctrl.description}}</h3>
      </div>
      <p>{{$ctrl.body}}</p>
      <br>
      <div class="md-form" ng-repeat="input in $ctrl.lines track by $index">
        <row-component inputs="input" form="form"></row-component>
      </div>
      <button-component ng-if="$ctrl.buttons" buttons="$ctrl.buttons" form="form"></button-component>
    </form>
  </div>
</div>
