<div class="container">
  <div class="card-block">
    <form novalidate class="md-form" name="form">
      <div class="form-header green-gradient">
        <div ng-if="$ctrl.image" class="row">
          <div class="col-md-9">
            <h3>{{$ctrl.description}}</h3>
          </div>
          <div class="col-md-3">
            <img class="img-fluid" src="{{$ctrl.image}}" alt="Card image cap">
          </div>
        </div>
        <h3 ng-if="!$ctrl.image"><i class="fa fa-$ctrl.icon"></i>{{$ctrl.description}}</h3>
      </div>
      <p>{{$ctrl.body}}</p>
      <br>
      <div class="md-form" ng-repeat="input in $ctrl.inputs track by $index">
        <div class="md-form">
          <input type="{{input.type}}" id="{{input.id}}" class="form-control {{input.class}}" name="{{input.model}}" ng-model="form[input.model]"
            ng-value="input.value" required="{{input.required}}" minlength="{{input.minlength}}" maxlength="{{input.maxlength}}">
          <label for="{{input.id}}" data-success="{{input.sucess}}" data-error="{{input.error || form.error[input.model]}}">{{input.label}}</label>
        </div>
      </div>
      <button-component ng-if="$ctrl.buttons" buttons="$ctrl.buttons" form="form"></button-component>
    </form>
  </div>
</div>
<div class="md-form">